@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

h2,h3{
	font-family: 'Abril Fatface', cursive;
	text-transform:capitalize;
}

h4 {
	text-transform:capitalize;
}


.sidebar {
	width: 200px;
	position: fixed;
	top: 2%;
	left: 16%;
	z-index: 999;
	transition: all 0.3s;
	margin: 10px;
	padding: 20px;
}

textarea{
	width: 100%;
	border: 2px solid #28a745;
	margin: 4px;
	padding: 2px;
}


.center-column{
	width: 600px;
	margin: 20px auto;
	padding: 20px;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
}